<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for item in book %}
    <hr />
    <div style="color: lawngreen">
      <h1><strong>{{ item.name }} </strong><br /></h1>
    </div>
    {% if item.image %}
    <img src="{{ item.image.url }}" alt="book cover" , width="10%" />
    {% endif %} <br />

    <p><b>Author:</b> {{ item.author }}</p>
    <p><b>Description:</b> {{ item.description }}</p>
    <hr />

    <p><a href="update_book/{{ item.pk }}">edit book</a></p>
    <p><a href="delete_book/{{ item.pk }}">Delete book</a></p>
    {% endfor %}
    <p>
      Go back to the list of
      <a href="{% url 'available_books' %}">available books</a>
    </p>
  </body>
</html>
